.grass_poison{
    background: linear-gradient(110deg, #4fc73f 55%, #f94bff 55%)
}
.fire{
    background: red
}
.fire_flying{
    background: linear-gradient(110deg, red 55%, #d3c7d3 55%)
}
.fire_flying{
    background: linear-gradient(110deg, red 55%, #d3c7d3 55%)
}
.water{
    background: rgb(92, 180, 240)
}
.bug{
    background: rgb(133, 12, 106)
}
.bug_flying{
    background: linear-gradient(110deg, rgb(133, 12, 106), 55%, #d3c7d3 55%)
}
.bug_poison{
    background: linear-gradient(110deg, rgb(133, 12, 106), 55%, rgb(78, 233, 7) 55%)
}
.normal_flying{
    background: linear-gradient(110deg, rgb(80, 77, 77) 55%, #d3c7d3 55%)
}
.normal{
    background: rgb(80, 77, 77)
}
.poison{
    background: rgb(78, 233, 7)
}
.electric{
    background: rgb(240, 240, 5)
}
.ground{
    background: rgb(92, 61, 3)
}
.poison_ground{
    background: linear-gradient(110deg,rgb(78, 233, 7) , 55%, rgb(92, 61, 3) 55%)
}
.fairy{
    background: rgb(239, 240, 161)
}
.normal_fairy{
    background: linear-gradient(110deg, rgb(80, 77, 77) 55%, rgb(239, 240, 161) 55%)
}
.poison_flying{
    background: linear-gradient(110deg,rgb(78, 233, 7) , 55%, #d3c7d3 55%)
}
.bug_grass{
    background: linear-gradient(110deg, rgb(133, 12, 106), 55%, rgb(50, 148, 5) 55%)
}
.fighting{
    background: rgb(134, 29, 47)
}
.water_fighting{
    background: linear-gradient(110deg, rgb(92, 180, 240) 55%, rgb(134, 29, 47) 55%)
}
.psychic{
    background: rgb(255, 0, 140)
}
.water_poison{
    background: linear-gradient(110deg, rgb(92, 180, 240) 55%, rgb(78, 233, 7) 55%)
}
.rock_ground{
    background: linear-gradient(110deg, rgb(70, 57, 38) 55%, rgb(92, 61, 3) 55%)
}
.water_psychic{
    background: linear-gradient(110deg, rgb(92, 180, 240) 55%, rgb(255, 0, 140) 55%)
}
.electric_steel{
    background: linear-gradient(110deg, rgb(240, 240, 5) 55%, rgb(218, 211, 215) 55%)
}
.water_ice{
    background: linear-gradient(110deg, rgb(92, 180, 240) 55%, rgb(122, 208, 248) 55%)
}
.ghost_poison{
    background: linear-gradient(110deg, rgb(73, 73, 73) 55%, rgb(78, 233, 7)  55%)
}
.grass_psychic{
    background: linear-gradient(110deg, #4fc73f 55%, rgb(255, 0, 140) 55%)
}
.ground_rock{
    background: linear-gradient(110deg, rgb(92, 61, 3) 55%, rgb(70, 57, 38) 55%)
}
.grass{
    background: #4fc73f
}
.psychic_fairy{
    background: linear-gradient(110deg, rgb(255, 0, 140) 55%, rgb(239, 240, 161) 55%)
}
.ice_psychic{
    background: linear-gradient(110deg, rgb(122, 208, 248) 55%, rgb(255, 0, 140) 55%)
}
.water_flying{
    background: linear-gradient(110deg, rgb(92, 180, 240) 55%, #d3c7d3 55%)
}
.rock_water{
    background: linear-gradient(110deg, rgb(70, 57, 38) 55%, rgb(92, 180, 240) 55%)
}
.rock_flying{
    background: linear-gradient(110deg, rgb(70, 57, 38) 55%, #d3c7d3 55%)
}
.ice_flying{
    background: linear-gradient(110deg, rgb(122, 208, 248) 55%, #d3c7d3 55%)
}
.electric_flying{
    background: linear-gradient(110deg, rgb(240, 240, 5) 55%, #d3c7d3 55%)
}
.dragon{
    background: rgb(0, 255, 179)
}
.dragon_flying{
    background: linear-gradient(110deg, rgb(0, 255, 179) 55%, #d3c7d3 55%)
}



.all-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    margin-top: 50px;
    height: 200px;
    width: 200px;
    border-radius: 25%;
    border: 2px solid black;
}

/* MODAL */

.modal{
    background-color: rgba(0, 0, 0, 0.733);
}


#modal-box{
    position: relative;
    background-color: rgba(255, 255, 255);
    height: 500px;
    width: 500px;
    border-radius: 20%;
}

.inner_modal_box{
    background-color: red;
    top: 0;
    height: 50%;
    width: 50%;
}

.material-symbols-outlined{
    position: absolute;
    z-index: 10;
    top: 5%;
    right: 10%;
    font-size: 50px;
    color: black;
}